.container{
  display: flex;
  align-items: center;
  gap: 4px;
}

.countButton{
  display: contents;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartQuantity{
  padding: 0 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color:  #0A0D13;
}