button {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 8px;

  gap: 4px;
}

.primary {
  background-color: black;
  color: white;
}

.default {
  background-color: white;
  border: 1px solid #0000001a;
  color: black;
}

.width-fit {
  width: fit-content;
}

.width-full {
  width: 100%;
}

.size-s {
  height: 24px;
}

.size-m {
  height: 30px;
}

.size-l {
  height: 36px;
}

.square.size-s {
  width: 24px;
}

.square.size-m {
  width: 30px;
}

.square.size-l {
  width: 36px;
}

.radius-s {
  border-radius: 4px;
}

.radius-m {
  border-radius: 8px;
}

.radius-l {
  border-radius: 12px;
}
