.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 3.6875rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.button.add {
  background-color: var(--black);
  color: var(--white);
}

.button.delete {
  background-color: var(--gray);
  color: var(--black);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.stepperPosition {
  position: absolute;
  bottom: 0;
  right: 0;
}