.layoutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 36px 24px 0 24px;
}

.contentBody {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.layoutHeader {
  position: sticky;
  top: 0;
}

.layoutFooter {
  position: sticky;
  bottom: 0;
}
