.dropdownContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdownContainer > * {
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
}
