.cardContainer {
  width: 182px;
  height: 224px;
  padding-bottom: 8px;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.imageContainer {
  position: relative;
}

.overlay {
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.cardImg {
  width: 100%;
  height: 112px;
  object-fit: cover;
  background: linear-gradient(110deg, #f0f0f0 40%, #fafafa 50%, #f0f0f0 60%);
  background-size: 300%;
  animation: glow 3s infinite linear;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 8px;
  gap: 27px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardName {
  font-size: 14px;
  font-weight: 700;
  font-family: Inter;
  color: #0a0d13;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.buttonWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.addCartButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  border: none;
  background: #000;
  border-radius: 4px;
  padding: 4px 8px;
}

.removeCartButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #000;
  border: none;
  background: #eaeaea;
  border-radius: 4px;
  padding: 4px 8px;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}
