.product-list-wrapper {
  margin-top: var(--product-list-wrapper-margin-top);
  width: 100%;
  max-height: calc(
    100vh - var(--layout-top-padding) - var(--page-title-height) - var(--page-title-margin-bottom) -
      var(--product-list-wrapper-margin-top)
  );
  overflow-x: hidden;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 1rem;
  padding-right: 0.5rem;
  width: 100%;
}

.product-card {
  aspect-ratio: 9/11;
  button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.product-card__image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.product-card__contents {
  position: relative;
  padding: 0.9375rem 0.5rem 0 0.5rem;
  height: 50%;

  p:first-child {
    margin-bottom: 0.5rem;
  }
}

.cart-action-button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 3.6875rem;
  height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 0.75rem;
  }
}
