:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #eaeaea;
  --pink: #ffc9c9;
  --border-color: #0000001a;
  --mobile-width: 100vw;
  --desktop-width: 64rem;
  --header-height: 4rem;
  --header-z-index: 100;
}

.logo {
  color: var(--white);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1rem;
  font-family: Noto Sans;
}

.preview {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: Inter;
}

.page__title {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.1719rem;
  font-family: Noto Sans KR;
}

.text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: Noto Sans;
}

.product-name {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: Inter;
}

.button__text {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: Noto Sans;
}
