/* reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    background-color: #dddddd;
  }
  
  body {
    line-height: 1;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  
  input,
  textarea,
  button {
    font-family: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  