.productCard {
  aspect-ratio: 9/11;
}

.image {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.contents {
  position: relative;
  padding: 0.9375rem 0.5rem 0 0.5rem;
  height: 50%;

  p:first-child {
    margin-bottom: 0.5rem;
  }
}
