.title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.contentContainer {
  margin-top: 100px;
  padding: 0 24px;
}

.contentTop {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownContainer > * {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 20px;
}
