.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 24px;
  height: 24px;
}

.quantity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 15px;
}

.quantity_text {
  width: 7px;
  height: 15px;
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}
