.cartToggleButton {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 4.67px;
  border: none;
  width: 59px;
  height: 24px;
  background-color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-inverse-color);
  cursor: pointer;
  border-radius: 4px;
}

.inCart {
  background-color: #eaeaea;
  color: black;
}
