.container {
  position: fixed;
  top: 0;
  display: flex;
  width: 430px;
  height: 64px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
}

.cartContainer {
  position: relative;
}

.cartCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  color: #000;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
}
