.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(430px - 48px);
  height: 64px;
  padding: 0 24px;
  background-color: black;
  color: #fff;
  z-index: 1000;
}
