.cartAction {
  position: fixed;
  top: var(--header-height);
  left: calc((100vw - var(--desktop-width)) / 2);
  z-index: var(--header-z-index);
  background-color: var(--pink);
  padding: 0.75rem 4.8125rem;
  width: var(--desktop-width);
  height: 2.5rem;
  text-align: center;
  white-space: pre-line;
}


@media screen and (max-width: 500px) {
  .cartAction {
    left: 0;
    width: var(--mobile-width);
    font-size: 0.625rem;
  }
}


@media screen and (max-width: 768px) {
  .cartAction {
    left: 0;
    width: var(--mobile-width);
  }
}

