.headerCartButtonContainer {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  height: 24px;
}

.countWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  width: 19px;
  right: 2px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
}

.count {
  font-size: 10px;
  font-weight: 700;
}
