:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

#root {
  position: relative;
  width: 430px;
  min-height: 100vh;
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
