.card{
	width: 100%;
	height: 112px;
	object-fit: cover;
	background: linear-gradient(110deg, #f0f0f0 40%, #fafafa 50%, #f0f0f0 60%);
	background-size: 300%;
	animation: glow 3s infinite linear;
}

.cart{
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}