.layoutHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
  height: 64px;
  background-color: var(--primary-color);
}

.leftSlot {
  max-height: 100%;
}

.rightSlot {
  max-height: 100%;
}
